$alphafontfamily: "proxima-nova", helvetica, arial, serif;
$white: #fff;
$litegray: #D7D7D7;
$darkgray: #383839;
$gray: #909090;
$green: #45A73B;
$liteblue: #79B8EE;
$blue: #4E9FE8;
$darkblue: #2D6AA9;
$headerlinkcolor: #fff;
$alphalinkcolor: #3898cd;
$alphalinkhovercolor: #35b8f5;
$alphatextcolor: #333;
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

@mixin background-image-retina($file, $type, $width, $height) {
	background-image: image-url($file + '.' + $type);

	@media (-webkit-min-device-pixel-ratio: 2) {
		& {
			background-image: image-url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
		}
	}
}

@mixin placeholder($color, $fontsize, $fontweight, $case) {
	&::-webkit-input-placeholder {
		 color: $color;
		 font-size: $fontsize;
		 font-weight: $fontweight;
		 text-transform: $case;
	}
	&:-moz-placeholder {
		 color: $color;
		 font-size: $fontsize;
		 font-weight: $fontweight;
		 text-transform: $case;
	}
}

@function black($opacity){
		@return rgba(0,0,0,$opacity);
}

@function white($opacity){
		@return rgba(255,255,255,$opacity);
}

@mixin box-emboss($opacity, $opacity2){
		box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin letterpress($opacity){
		text-shadow:white($opacity) 0 1px 0;
}

@mixin letterpress2($opacity){
		text-shadow:black($opacity) 0 -1px 0;
}

@mixin hide-text{
		overflow:hidden;
		text-indent:-9000px;
		display: inline-block;
}

body {
	background-color: #f3f3f3;
	font-family: $alphafontfamily;
}



header.global {
	background-color: $darkblue;
	
	.brand {
		@include background-image-retina("logo-small", "png", 212px, 39px);
		height: 39px;
		width: 212px;
		background-repeat: no-repeat;
		background-position: 0 0;
		@include hide-text;
		padding:0;
		margin-right: 30px;
	}
	
	.navbar {
		margin-bottom: 0;
		.navbar-inner {
			background: transparent;
			border: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			margin-bottom: 0;
			padding: 15px 0;
			
			li > a {
				color: white(.7);
				text-shadow:none;
				&:hover {
					color: #fff;
				}
			}
			li.active > a {
				background: transparent;
				
			}
		}
	}
}

.page-header {
	background-color: $blue;
	color: white;
	margin: 0 0 20px 0;
	h1 {
		font-weight: normal;
		margin: 20px 0;
	}
}


.UngradedStudent{
  background-color: $blue;
  color: $white;
}

th{
  background-color: $litegray;
}

select{
  background-color: $blue;
  border-bottom-width:1px;
  width:150px;
  color:$white;
}

#letsgetstarted{
  background-color: $blue;
  font-family: "proxima-nova";
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -125px;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px black;
}

#getstartedtext{
  font-family: "proxima-nova";
  color: $white;
  font-size: 42px;
  margin-top: 30px;
  text-align:center;
  position:absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}

#courseName{
  color: $gray;
  font-size:11px;
  margin-top:70px;
  position:absolute;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  border-radius: 5px;
}

#assignmentName{
  margin-top:90px;
  font-size:11px;
  position:absolute;
  color: $gray;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  border-radius: 5px;
}

#StartGradingButton{
  margin-top:120px;
  border-width:.1px;
  border-color: $gray;
  border-radius: 5px;
  font-size:18px;
  background-color: $liteblue;
  color: black;
  position:absolute;
  width: 150px;
  height: 50px;
  left: 50%;
  margin-left: -70px;
}

#completion{
  font-size:36px;
}
#score{
  width: 40px;
  margin-left: 15px;
}